*{
    box-sizing: border-box
}

body{
    display: flex;
    background-color: indigo;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: left;
    justify-content: center;
}

game{
    position: fixed;
    height: 600px;
    width: 600px;
    align-self: center;
}

background{
    position: absolute;
    height: 100%;
    width: 100%;
}

/*
    LEVEL 1
*/


/*
    LEVEL 2
*/
background.spawn-2{
    background-image: url(../img/lvl2/spawn.png);
}

background.shop-2{
    background-image: url(../img/lvl2/shop.png);
}

background.bossroom-2{
    background-image: url(../img/lvl2/bossroom.png);
}

background.room1-2{
    background-image: url(../img/lvl2/room1.png);
}

background.room2-2{
    background-image: url(../img/lvl2/room2.png);
}

background.room3-2{
    background-image: url(../img/lvl2/room3.png);
}

background.room4-2{
    background-image: url(../img/lvl2/room4.png);
}

background.room5-2{
    background-image: url(../img/lvl2/room5.png);
}

background.room6-2{
    background-image: url(../img/lvl2/room6.png);
}

background.room7-2{
    background-image: url(../img/lvl2/room7.png);
}

background.room8-2{
    background-image: url(../img/lvl2/room8.png);
}

background.room9-2{
    background-image: url(../img/lvl2/room9.png);
}

background.room10-2{
    background-image: url(../img/lvl2/room10.png);
}

/*
    LEVEL 3
*/
background.spawn-3{
    background-image: url(../img/lvl3/spawn.png);
}

background.shop-3{
    background-image: url(../img/lvl3/shop.png);
}

background.bossroom-3{
    background-image: url(../img/lvl3/bossroom.png);
}

background.room1-3{
    background-image: url(../img/lvl3/room1.png);
}

background.room2-3{
    background-image: url(../img/lvl3/room2.png);
}

background.room3-3{
    background-image: url(../img/lvl3/room3.png);
}

background.room4-3{
    background-image: url(../img/lvl3/room4.png);
}

background.room5-3{
    background-image: url(../img/lvl3/room5.png);
}

background.room6-3{
    background-image: url(../img/lvl3/room6.png);
}

background.room7-3{
    background-image: url(../img/lvl3/room7.png);
}

background.room8-3{
    background-image: url(../img/lvl3/room8.png);
}

background.room9-3{
    background-image: url(../img/lvl3/room9.png);
}

background.room10-3{
    background-image: url(../img/lvl3/room10.png);
}

background.room11-3{
    background-image: url(../img/lvl3/room11.png);
}

background.room12-3{
    background-image: url(../img/lvl3/room12.png);
}


health{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
    width: 82px;
    background-image: url(../img/roodhartjeGroot.png);
    background-repeat: repeat-x;
    background-size: contain;
}

score{
    position: absolute;
    top: 10px;
    left: 420px;
    font-size: 20px;
    color: white;
    
}

/* Pigeon animation */
pigeon{
    position: absolute;
    height: 20px;
    width: 29px;

    background-image: url(../img/pigeonSprite.png);
    animation: pigeonFly 500ms steps(4) infinite;
}

@keyframes pigeonFly {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -119px 0;
    }
}

pigeonBullet{
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: white;
    border: 1px solid black;
}
/* GodFeather animation */
godFeather{
    position: absolute;
    height: 100px;
    width: 100px;

    background-image: url(../img/The\ GodFeather.png);

}



godFeatherBullet{
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: white;
    border: 1px solid black;
}
/* Player animation */
player{
    position: absolute;
    height: 40px;
    width: 27px;

    background-image: url(../img/profWalkSprite.png);
    animation: profWalk 500ms steps(3) infinite;
}

@keyframes profWalk {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -81px 0;
    }
}

/* PlayerBullet animation */
playerBullet{
    position: absolute;
    height: 8px;
    width: 10px;

    background-image: url(../img/profBulletSprite.png);
    animation: profBullet 1000ms steps(2) infinite;
}

@keyframes profBullet {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -20px 0;
    }
}