*{
    box-sizing: border-box
}

game{
    position: fixed;
    height: 600px;
    width: 600px;
}

background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/room.png);
}

/* Pigeon animation */
pigeon{
    position: absolute;
    height: 20px;
    width: 29px;

    background-image: url(../img/pigeonSprite.png);
    animation: pigeonFly 500ms steps(4) infinite;
}

@keyframes pigeonFly {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -119px 0;
    }
}

/* Bullet animation */
bullet{
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: white;
    border: 1px solid black;
}

/* Player animation */
player{
    position: absolute;
    height: 40px;
    width: 27px;

    transform: scale(0.5);

    background-image: url(../img/profWalkSprite.png);
    animation: profWalk 500ms steps(3) infinite;
}

@keyframes profWalk {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -81px 0;
    }
}